<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360355824770-594jotalb3u8ff7vj623mghp5ol86nh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360355824770-594jotalb3u8ff7vj623mghp5ol86nh9</string>
	<key>API_KEY</key>
	<string>AIzaSyBPXPZ2P2bUh5rTgE6Y82hBOEBa2B2sMh0</string>
	<key>GCM_SENDER_ID</key>
	<string>360355824770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tegAuto</string>
	<key>PROJECT_ID</key>
	<string>tegauto-573df</string>
	<key>STORAGE_BUCKET</key>
	<string>tegauto-573df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360355824770:ios:55ecd038a48401c515209b</string>
</dict>
</plist>